/** We must specify variables before importing bootstrap in order to customize the generated css */

$enable-shadows: true;
$blue: #005ea2;

@import '~bootstrap/scss/bootstrap';
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import '~react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
@import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';

.bg-primary-lighter {
  background-color: #d9e8f6;
}

.bg-primary-light {
  background-color: #73b3e7;
}

.bg-primary {
  background-color: #005ea2;
}

.bg-primary-vivid {
  background-color: #0050d8;
}

.bg-primary-dark {
  background-color: #1a4480;
}

.bg-primary-darker {
  background-color: #162e51;
}

.nav-pills.nav-pills-inverse {
  .nav-link {
    color: white;
  }

  .nav-link.active {
    background-color: #162e51;
  }
}

.nav-pills.nav-pills-custom {
  .nav-link {
    color: white;
  }

  .nav-link {
    background-color: #1a4480;
    opacity: 0.7;
  }

  .nav-link.active {
    // background-color: #e47833;
    opacity: 1;
  }
}

h1 {
  color: #ff8c00;
}

/** home.js video banner*/
.video-banner-container {
  z-index: 0;
  overflow: hidden;
  display: block;
  height: 50vh;
  // height: 422px;
  position: relative;

  #video-banner {
    width: 100%;
    position: relative;
    display: block;
  }

  .video-banner-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/** navbar.js tab links*/
.navlinks {
  text-decoration: none !important;
}

.navlinks:hover {
  color: #ddd !important;
}

.active-navlinks {
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;

  button {
    background-color: white !important;
    color: black !important;
    font-weight: bold !important;
  }

  &:hover {
    color: black !important;
  }
}

.manhattan-plot {
  max-width: 100%;
  position: relative;

  .overlay {
    position: absolute;
    cursor: pointer;
    opacity: 0.05;
    transition: all 0.1s;
  }

  .overlay:hover {
    background-color: #005ea2;
  }

  .interactive-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .selection-overlay {
    position: absolute;
    opacity: 0.2;
    background-color: #888;
    top: 0;
    left: 0;
    display: none;
  }

  .custom-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 10px;
  }
}

.qq-plot {
  cursor: crosshair;
}

.hover-tooltip {
  position: absolute;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-align: left;
  padding: 5px;
  background-color: #ffa503;
}

.popup-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
}

.popup-tooltip-close {
  margin-top: -10px;
  margin-right: -5px;
}

.summary-results-table .caret-4-asc::after {
  display: none;
}

.dropdown {
  width: 100% !important;
}

.dropdown-trigger {
  width: 100% !important;
}

.dropdown-tree .dropdown-trigger {
  border-radius: 0.25rem;
  width: 100% !important;
}

.dropdown-tree .dropdown-trigger > span:after {
  font-size: 12px;
  color: #555;
}

.dropdown-tree .toggle {
  // font: normal normal normal 12px/1 FontAwesome;
  color: #555;
}

// .dropdown-tree .toggle.collapsed::after {
//   content: "\f067";
// }

// .dropdown-tree .toggle.expanded::after {
//   content: "\f068";
// }