/** We must specify variables before importing bootstrap in order to customize the generated css */

$enable-shadows: true;
$blue: #005ea2;

@import '~bootstrap/scss/bootstrap';

.bg-primary-lighter {
  background-color: #d9e8f6;
}

.bg-primary-light {
  background-color: #73b3e7;
}

.bg-primary {
  background-color: #005ea2;
}

.bg-primary-vivid {
  background-color: #0050d8;
}

.bg-primary-dark {
  background-color: #1a4480;
}

.bg-primary-darker {
  background-color: #162e51;
}

.nav-pills.nav-pills-inverse {
  .nav-link {
    color: white;
  }

  .nav-link.active {
    background-color: #162e51;
  }
}

/** home.js video banner*/
.video-banner-container {
  z-index: 0;
  overflow: hidden;
  display: block;
  // height: 38vh;
  height: 422px;
  position: relative;

  #video-banner {
    width: 100%;
    position: relative;
    display: block;
  }
  
  .video-banner-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/** navbar.js tab links*/
.navlinks {
  text-decoration: none !important;
}
.navlinks:hover {
  color: #bfbfbf !important;
}
.active-navlinks {
  background-color: #fff68f !important;
  color: black !important;
  // font-weight: bold !important;
}

.manhattan-plot {
  min-height: 500px;

  text {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 600;
  }

  .hide-paths path {
    display: none;
  }

  .manhattan-overlay {
    cursor: pointer;
    opacity: 0.1;
    transition: all 0.1s;
  }

  .manhattan-overlay:hover {
    fill: #005ea2;
    opacity: 0.15;
  }
}