/node_modules/
*.meta
*.db
*.db-journal
*.vs
*.Rhistory
*.log
*-audit.json
config.json
/server/data/**/*.db
/server/data/**/*.meta
/server/data/**/*.txt
/server/data/**/*.txt.gz
/server/data/qq-plots/
/server/logs/
/www/