/node_modules/
/database/import/raw/*
/database/import/hpc/slurm*
/database/import/hpc/swarm*
/database/import/nohup*
/database/import/hpc/export-all-phenotypes.swarm
/server/logs/
/server/data/
/www/
config*.json
*.meta
*.db
*.db-journal
*.vs
*.Rhistory
*.log
*-audit.json
.DS_Store
