/node_modules/
*.meta
*.db
*.db-journal
*.vs
*.Rhistory
*.log
*-audit.json
config.json
/data/import/**/*.db
/data/import/**/*.meta
/data/import/**/*.txt
/data/import/**/*.txt.gz
/data/qq-plots/
/server/logs/
/www/