# Configuration for mysql/5.7.22

[client]
port                    = 55555
socket                  = /lscratch/$SLURM_JOB_ID/mysql/mysql.sock

[mysqld]
port                    = 55555
socket                  = /lscratch/$SLURM_JOB_ID/mysql/mysql.sock
basedir                 = /lscratch/$SLURM_JOB_ID/mysql
datadir                 = /lscratch/$SLURM_JOB_ID/mysql/data
tmpdir                  = /lscratch/$SLURM_JOB_ID/mysql/tmp
pid-file                = /lscratch/$SLURM_JOB_ID/mysql/mysql.pid
log-error               = /lscratch/$SLURM_JOB_ID/mysql/mysql.err

default_storage_engine      = InnoDB
default_tmp_storage_engine  = InnoDB


skip-external-locking
max_allowed_packet      = 256M
tmp_table_size          = 256M
table_open_cache        = 512
sort_buffer_size        = 512M
read_buffer_size        = 4M
read_rnd_buffer_size    = 16M
myisam_sort_buffer_size = 512M
thread_cache_size       = 16
thread_stack            = 512M
bulk_insert_buffer_size = 128M
max_connections         = 500
open_files_limit=1024

local_infile                   = 1
innodb_buffer_pool_instances   = 32
innodb_buffer_pool_size        = 384G
innodb_read_io_threads         = 12
innodb_write_io_threads        = 48
innodb_log_buffer_size         = 256M
innodb_log_file_size           = 1G
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table          = 0
key_buffer_size                = 4G

[mysqldump]
quick
max_allowed_packet      = 256M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout
