# Configuration for mysql/8.0.20

[client]
port                    = <PORT>
socket                  = /lscratch/<SLURM_JOB_ID>/mysql/mysql.sock
local_infile = 1

[mysqld]
port                    = <PORT>
socket                  = /lscratch/<SLURM_JOB_ID>/mysql/mysql.sock
basedir                 = /lscratch/<SLURM_JOB_ID>/mysql
datadir                 = /lscratch/<SLURM_JOB_ID>/mysql/data
tmpdir                  = /lscratch/<SLURM_JOB_ID>/mysql/tmp
pid-file                = /lscratch/<SLURM_JOB_ID>/mysql/mysql.pid
log-error               = /lscratch/<SLURM_JOB_ID>/mysql/mysql.err

default_storage_engine      = InnoDB
default_tmp_storage_engine  = InnoDB

innodb_buffer_pool_size = 30G
innodb_file_per_table = ON
innodb_io_capacity = 2000
temptable_max_ram = 8G

local_infile = 1

skip-external-locking
max_allowed_packet      = 256M
tmp_table_size          = 4G
table_open_cache        = 512
sort_buffer_size        = 512M
read_buffer_size        = 4M
read_rnd_buffer_size    = 16M
myisam_sort_buffer_size = 512M
thread_cache_size       = 16
thread_stack            = 512M
bulk_insert_buffer_size = 128M
max_connections         = 500
open_files_limit=1024

[mysqldump]
quick
max_allowed_packet      = 256M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout