.banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    height: 233px;
    position: relative;
  
    .banner-overlay-text {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}