// custom tree select
.collapse-button {
  cursor: pointer !important;
  :hover {
    text-decoration: underline;
  }
}

// custom tree select
.collapse-button-all {
  cursor: pointer !important;
  :hover {
    text-decoration: underline;
  }
}
