.table {
  thead th {
    border-bottom: 1px solid #ddd;
  }
  td {
    overflow-x: auto;
    word-wrap: break-word;
  }
}

.table.table-striped th,
.table.table-striped td {
  border-top: none;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.pagination {
  .page-item .page-link {
    color: #595959;
  }

  .page-item.active .page-link {
    background-color: transparent;
    // color: #007bff;
    color: rgb(0, 126, 167);
    font-weight: 600;
    text-decoration: underline;
  }

  .page-link:focus {
    box-shadow: none;
  }
}
