.manhattan-plot {
  min-width: 700px;
  min-height: 600px;
  height: 100%;
  max-width: 100%;
  position: relative;

  .overlay {
    position: absolute;
    cursor: pointer;
    opacity: 0.05;
    transition: all 0.1s;
  }

  .overlay:hover {
    background-color: #005ea2;
  }

  .interactive-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .selection-overlay {
    position: absolute;
    opacity: 0.2;
    background-color: #888;
    top: 0;
    left: 0;
    display: none;
  }

  .custom-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 10px;
  }

  &.gene-plot-collapsed {
    [data-type='gene-plot'] {
      display: none;
    }
  }
}
